.notfound {color:rgb(248, 246, 246);
font-family:monospace;
text-align:center;
margin-bottom:250px}
body {
    background-color:  rgb(69, 69, 72)
}
.notfoundshrug {color:rgb(248, 246, 246);
    font-family:monospace;
    text-align:center;
    margin-top:calc(240px);
font-size:calc(10000)}