@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

body {
    background-color: rgb(69, 69, 72);
    font-family: 'Inconsolata', monospace;
    font-size: large;
    color: white
}

h1 {
    text-align: center;
    margin-top: 270px
}