body {
    background-color: rgb(69, 69, 72);
    font-family: monospace;
    text-align: justify;
    font-size: large;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 2px
}

.gentext {
    color: white
}

.hyperlink {
    color: rgb(150, 230, 230)
}

.devmark {
    color: rgb(166, 237, 237)
}