@import url(https://fonts.bunny.net/css?family=Assistant:600);

body {
  background-image: url(cdn/OIP.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Assistant";
  text-align: justify;
  font-size: large;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 2px;
}

.gentext {
  color: white;
}

.hyperlink {
  color: rgb(150, 230, 230);
}

.devmark {
  color: rgb(166, 237, 237);
}
/*Website is more formal (yay) (problem solved) (cops not called) (gone right)
